html {
    box-sizing: border-box;
    font-size: 10px;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/**** HEADER & NAV ****/
header {
    height: 65vh;
    background-image: url(images/coffee-header.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-list .hamburger,
.nav-list .signin {
    position: relative;
}

.nav-list .hamburger ul,
.nav-list .signin ul {
    position: absolute;
    top: 4rem;
}

.nav-list .hamburger li,
.nav-list .signin li,
.nav-list .no-mobile {
    display: none;
}

.nav-list .hamburger:hover li,
.nav-list .signin:hover li {
    display: block;
    background-color: white;
}

.nav-list .hamburger:hover,
.nav-list .signin:hover,
.nav-list .no-mobile:hover,
.nav-list li:last-child:hover {
    border-bottom: 3px solid black;
}

.nav-list .center-nav,
.nav-list .left-nav,
.nav-list .right-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.nav-list .left-nav li,
.nav-list .right-nav li {
    padding: 1rem;
    padding-bottom: 0.25rem;
}

.nav-list .hamburger li,
.nav-list .signin li {
    padding: 0.5rem;
}

.nav-list a,
.nav-list li.hamburger,
.nav-list li.signin {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    text-transform: uppercase;
    display: block;
}

.nav-list .hamburger ul li a,
.nav-list .signin ul li a {
    font-family: "Times New Roman", serif;
    text-transform: none;
    font-size: 1rem;
}

.nav-list .b-bot {
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

/**** MAIN ****/
main {
    display: flex;
    flex-wrap: wrap;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**** SUBSCRIPTION ****/
.subscriptions {
    height: 30vh;
    justify-content: center;
}

.subscriptions h2 {
    font-size: 4rem;
}

.subscriptions p {
    font-size: 2rem;
}

.subscriptions .buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.subscriptions .buttons a {
    display: block;
    padding: 0.75rem;
    background-color: #1d648a;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    margin: 3px;
    border-radius: 3px;
}

.subscriptions .buttons a.hover {
    background-color: #0b5078
}

/**** SHOP ****/
.shop-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}
/* Coffee */
.shop-coffee {
    height: 35vh;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.shop-coffee h2 {
    color: #777;
    font-size: 2rem;
}

.shop-coffee h2 a {
    text-decoration: none;
    color: #e0614e;
}

.shop-coffee .coffee-background {
    width: 100%;
    height: 30vh;
}

.shop-coffee div a {
    display: flex;
    width: 95%;
    height: 90%;
    margin: 1rem auto;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0614e;
    background: linear-gradient(161deg, #e0614e, #e0614e 50%, #f0715e 50%, #f0715e);
    color: #fff;
}

.shop-coffee div a:hover {
    border: 1rem solid #d0513e;
}

.shop-coffee a h3 {
    font-size: 3rem;
}

.shop-coffee a h4 {
    font-size: 2.5rem;
}

.shop-coffee a h5 {
    font-size: 2rem;
    color: #f7d0cb;
}

.shop-coffee a h6 {
    background-color: #d0412e;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.5rem 10rem;
}

.shop-coffee a p {
    padding-top: 2rem;
}

/* Tea */
.shop-tea {
    height: 35vh;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.shop-tea h2 {
    color: #777;
    font-size: 2rem;
}

.shop-tea h2 a {
    text-decoration: none;
    color: #c4a3b2;
}

.shop-tea .tea-background {
    width: 100%;
    height: 30vh;
    background-image: url(images/background-leaf.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 140px 90%;
}

.shop-tea div a {
    display: flex;
    width: 95%;
    height: 90%;
    margin: 1rem auto;
    text-decoration: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    background-image: url(images/mid-leaf.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.shop-tea a h3 {
    font-size: 3.5rem;
    color: #c4a3b2;
    margin-top: 1rem;
}

.shop-tea a h4 {
    font-size: 2rem;
    color: #ccc;
}

.shop-tea a h5 {
    font-size: 2.5rem;
    color: #d4b3c2;
    margin-bottom: 5rem;
}

/**** IMAGE ARTICLES ****/
.image-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 6rem;
}

.image-articles img,
.image-articles article {
    width: 100%;
    max-width: 635px;
}

.image-articles img {
    margin-bottom: 4rem;
}

.image-articles article {
    margin-bottom: 2rem;
    font-size: 2rem;
}

/**** BOTTOM BANNER ****/
.bottom-banner,
.multibanner {
    width: 100%;
}

.multibanner {
    display: flex;
}

.multibanner img {
    display: block;
    width: 20%;
}

/**** FORM ****/
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form label {
    margin-top: 4rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

form label p {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

form input {
    width: 30rem;
}

form .email {
    padding: 0.75rem;
}

form .submit {
    background-color: #1d648a;
    border-radius: 3px;
    padding: 0.75rem;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
}

form .submit:hover {
    background-color: #0b5078
}

/**** FOOTER ****/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

footer a,
footer p a {
    text-decoration: none;
    color: #1b658a;
}

footer a.donation {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

footer > img {
    margin-bottom: 2rem;
}

footer a:hover,
footer p a:hover {
    color: #09456a;
}

/* Music */
.music {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
}

.music h2 {
    background-color: #ddd;
    padding: 0.75rem;
    width: 100%;
    text-align: center;
}

.music .song-info,
.music .rockbot {
    display: flex;
    align-items: center;
    padding: 0.25rem 0.5rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color:
}

.music .song-info img {
    margin-right: 0.5rem;
}
.music .rockbot img {
    margin-left: 0.5rem;
}

/* Footer Nav */
.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    list-style: none;
    font-size: 1.5rem;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-nav ul li a {
    font-size: 1.5rem;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    color: #1b658a;
}

.footer-nav ul li a:hover {
    color: #09456a;
}

/* Address */
address {
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

address p:first-child:first-line {
    font-weight: bold;
}

address p:first-child {
    margin-bottom: 2rem;
}

address p a {
    text-decoration: none;
    color: #1b658a;
}

address p a:hover {
    color: #09456a;
}

/**** MEDIA QUERIES ****/
@media only screen and (min-width: 500px) {
    .music {
        flex-direction: row;
        width: 97%;
        background-color: unset;
    }

    .music h2 {
        width: unset;
        text-align: default;
    }

    .music .rockbot {
        margin-left: auto;
    }
}

@media only screen and (min-width: 750px) {
    .footer-nav {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1000px) {
    header {
        height: 100vh;
    }

    .nav-list li.hamburger {
        display: none;
    }

    .nav-list .no-mobile {
        display: block;
        padding: 1rem;
    }

    .shop-coffee,
    .shop-tea {
        width: 50%;
    }

    .image-articles {
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        height: 100vh;
    }

    .image-articles img {
        display: block;
        width: 40%;
    }

    .image-articles article {
        width: 60%;
        padding-left: 1rem;
    }
}
